@import 'color-scheme';
@import 'dashboard-block';

.dark {
  background-color: #35495e;
}

.text-center {
  text-align: center;
}

span, div {
  color: whitesmoke;
}

.main-panel-container {
  height: 100vh;

  //border: 1px solid #eee;

  .main-panel-side-menu {
    height: 100%;
  }

  .main-panel-view {
    margin: 10px 40px 10px 10px;
    padding: 0;
  }
}

.el-loading-mask {
  background-color: transparentize($primary_dark, 0.05) !important;

  .el-loading-spinner {
    .circular {
      circle {
        stroke: #42b983;
      }
    }
  }
}

.el-textarea {
  margin: auto;
  .el-textarea__inner {

    color: whitesmoke;
    background-color: $primary_light;
    border: 1px solid $secondary_light;
    border-radius: 0;
    //min-height: 600px;
    //height: 600px;
  }
}

.el-input {
  .el-input__inner {
    color: whitesmoke;
    background-color: $primary_light;
    border: 0;
    border-radius: 0;
  }

  .el-input-group__append {
    background-color: $primary;
    border: none;
    border-radius: 0;
  }
}

.el-tabs {
  .el-tabs__header {

    padding: 0 10px;

    .el-tabs__nav-wrap::after {
      background-color: $primary_dark;
    }

    .el-tabs__active-bar {
      background-color: #f7b500;
    }

    .el-tabs__item {
      color: whitesmoke;

      &.is-active {
        color: #f7b500;
      }
    }
  }
}

.el-scrollbar {
  ::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
  }

  .el-scrollbar__wrap {
    overflow-x: hidden;
    margin: 0 !important;

    .el-scrollbar__view {
      overflow-x: hidden;
    }
  }

  &:hover,
  &:active,
  &:focus {
    .el-scrollbar__bar {
      opacity: 1;
      transition: opacity 340ms ease-out;

      //background-color: whitesmoke;
      //.el-scrollbar__thumb {
      //  background-color: $primary_dark;
      //}
    }
  }

  overflow: hidden;
}

.el-collapse {
  border-top: 1px solid $accent;
  border-bottom: 1px solid $accent;

  .el-collapse-item {

    div[role="tab"] {
      .el-collapse-item__header {
        border-bottom: 1px solid $accent;
        background: $primary_light;
        color: whitesmoke;

        span {

        }

      }
    }

    div[role="tabpanel"] {
      background: $primary_light;
    }

    .el-collapse-item__wrap {
      .el-collapse-item__content {

      }
    }
  }
}

.el-button, .el-button:focus {
  border: none;
  border-radius: 0;
  background-color: #f7b500 ;

  //margin-right: 5px;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    background-color: lighten($accent, 10);
  }

  &:active {
    background-color: lighten($accent, 10);
  }

  &.is-disabled {
    background-color: $primary_dark !important;
  }

  &.el-button--default, &.el-button--text {
    background-color: $accent;
    border-radius: 0;
    border: none;

    &:hover {
      background-color: lighten($accent, 5);
      span {
        color: whitesmoke;
      }
    }

    &:active {
      background-color: lighten($accent, 20);
      span {
        color: whitesmoke;
      }
    }
  }

  &.el-button--text {
    background-color: transparent;
    padding: 0;
    &:hover {
      background-color: transparent;
      span {
        color: whitesmoke;
      }
    }

    &:active {
      background-color: transparent;
      span {
        color: whitesmoke;
      }
    }
  }

  &.el-button--primary {
    background-color: $accent;

    &:hover {
      span {
        color: whitesmoke;
      }
    }

    span {
      color: whitesmoke;
    }
  }

  &.el-button--warning {
    background-color: $accent;

    &:hover {
      span {
        color: whitesmoke;
      }
    }

    span {
      color: whitesmoke;
    }
  }
}

.el-radio {
  border: 1px solid #f7b500;
  border-radius: 0;

  color: whitesmoke;

  &.is-bordered {
    border-radius: 0 !important;
    border: 1px solid #f7b500 !important;
  }

  &.is-checked {

    .el-radio__inner {
      border-color: #f7b500 !important;
      background: #f7b500 !important;
    }

    .el-radio__label {
      color: #f7b500 !important;
    }
  }
}

.el-message {
  border-radius: 0 !important;
  background-color: $primary_dark !important;
  border: 1px solid $primary_light !important;

  .el-message__icon {
    display: none;
  }
  .el-message__content {
    color: whitesmoke !important;
    width: 100%;

    &::before {
      width: 6px;
      height: 100%;
      background-color: #d8d8d8;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.el-message--info {
  .el-message__content {
    &::before {
      background-color: #42b983;
    }
  }
}

.el-message--error {
  .el-message__content {
    &::before {
      background-color: #BC3F3C;
    }
  }
}

.el-message--warning {
  .el-message__content {
    &::before {
      background-color: $accent;
    }
  }
}

@import "table-style";
//.el-table {
//  background: $primary_light;
//  .el-table__body-wrapper {
//
//    .el-table__body {
//      width: 100% !important;
//
//      .el-table__row {
//
//        background: $primary;
//
//        * {
//          transition: none;
//        }
//
//        &:hover {
//          background: $accent;
//
//          td, div {
//            background: $accent;
//          }
//        }
//      }
//    }
//  }
//}

.el-form {
  .el-form-item {
    label {
      color: whitesmoke;
    }
  }
}

.el-menu-vertical {
  ::v-deep .el-menu-item {
    &:hover {
      background-color: #42b983;
    }
  }
}

.el-tree {
  background: $primary_light !important;

  .el-tree-node__content:hover {

    background: transparentize(white, 0.95) !important;

  }

  .el-tree-node.is-current > .el-tree-node__content {
    background-color: #42b983;

    &:hover {
      background-color: transparentize(#42b983, 0.1) !important;
    }
  }

  .el-tree-node:focus > .el-tree-node__content {

    background-color: #42b983 !important;

  }

}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {

  background-color:  $primary_light !important;

}

.el-dialog {
  background-color: $primary_dark !important;
  color: whitesmoke;

  .el-dialog__title {
    color: whitesmoke;
    font-weight: bold;
  }

  .el-dialog__header {

  }

  .el-dialog__body {

  }
}

.el-popper {
  background: $primary_dark !important;

  border: 1px solid whitesmoke !important;
  border-radius: 0 !important;

  .el-dropdown-menu__item {
    color: whitesmoke;
    font-family: sans-serif;
  }
}

.el-tooltip__popper {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.sp-10 {
  width: 100%;
  height: 10px;
}

.sp-20 {
  width: 100%;
  height: 10px;
}

.common-wrapper {
  .title-wrapper {
    .title {
      font-weight: bold;
    }

    margin-bottom: 10px;
  }
  .content-wrapper {
    .content {

    }
  }
}

.mono-wrapper {
  background-color: $primary;
  height: 100%;
  overflow-x: hidden;
}