@import "color-scheme";

.dashboard-block-wrapper {
  height: 420px;
  min-height: 400px;

  .block-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  .block-main {

  }
}